.title{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 8px;
}

.title-container{
    margin-bottom: 25px;
}

.body-clubs{
    max-height: 670px;

    .clubs{
        max-height: 600px;
        overflow-y: auto;
    }

    .loader{
        padding: 20px;
        text-align: center;
        border: dashed 2px #787878;
        cursor: pointer;
    }
}

::ng-deep p-accordion p-accordiontab .p-accordion-header {
    font-size: 12px !important;   
    position: relative;
    .match-title{
        position: absolute;
        left: 46px;
        top: 6px;
    }

    .match-date{
        position: absolute;
        right: 10px;
        top: 22px;
        font-size: 10px;
    }
}

.button-margin {
    margin-top: 10px;
}

:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}