

<h5>Categories</h5>



<p-tree [value]="files3"
selectionMode="checkbox"
[(selection)]="selectedFiles2" 
(onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
>
   <ng-template let-node pTemplate="default">
    <span pTooltip="{{ node.label }} - {{node.id}}">{{ node.label }}</span>
       <!-- <span title={{node.label}}>{{node.label}}</span> -->
   </ng-template>
</p-tree>
<br>

<div>
    <div class="row-title">Detalles</div> 
    <div class="row-info">Nombre: {{currentTeam.name}}</div>    
    <div class="row-info">Categoria: {{currentTeam.category}}</div>
    <div class="row-info">Club: {{currentTeam.club}}</div>
    <div class="row-info">Telefono: {{currentTeam.phone}}</div>
    <div class="row-info">Fax: {{currentTeam.fax}}</div>
    <div class="row-info">Estadium: {{currentTeam.name}}</div>
    <div class="row-info">Direccion: {{currentTeam.stadium}}</div> 

    <div class="row-title">Equipamiento</div> 
    <div class="row-info">Polera: {{currentTeam.mainEquipment.shirt}}</div>
    <div class="row-info">Pantalon Corto: {{currentTeam.mainEquipment.shrortPants}}</div>
    <div class="row-info">Medias: {{currentTeam.mainEquipment.sportSocks}}</div>

    <div class="row-title">Correspondencia</div> 
    <div class="row-info">Direccion: {{currentTeam.correspondence.address}}</div>
    <div class="row-info">CP: {{currentTeam.correspondence.cp}}</div>
    <div class="row-info">Provincia: {{currentTeam.correspondence.province}}</div>
    <div class="row-info">Ubicacion: {{currentTeam.correspondence.location}}</div>
    <div class="row-info">Email: {{currentTeam.correspondence.email}}</div>
</div>
<p-button label="Confirmar" icon="pi pi-check" iconPos="right" (click)="confirm()"></p-button>



<p-toast></p-toast>


<h5>Clubs</h5>
<p-tree [value]="files1" selectionMode="single" [(selection)]="selectedFile"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>

<h5>Jugadores</h5>
<p-tree [value]="files2" selectionMode="multiple" [(selection)]="selectedFiles1"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>